@media screen and (min-width: 960px) {
  html {
    font-size: 137.5%;
  }
}

@media screen and (min-width: 100em) {
  html {
    font-size: 137.5%;
  }
}

@media screen and (min-width: 125em) {
  html {
    font-size: 137.5%;
  }
}
.md-typeset h1 {
  color: #000000de
}
.md-typeset h1, .md-typeset h2 {
  font-weight: 600;
}

.md-typeset h3 {
  font-weight: 500;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4 {
  letter-spacing: 0;
}

.md-typeset {
  font-size: .7rem;
}

.md-typeset h3 {
  font-weight: 600;
}
.md-typeset {
  font-size: .7rem;
}
.md-typeset code:not(pre code) {
  font-size: inherit;
}
/* .md-typeset blockquote{
  
} */
@media screen and (max-width: 59.9375em) {
  .md-nav__source {
    background-color: var(--md-primary-fg-color);
  }
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__title {
    background-color: var(--md-primary-fg-color);
  }
}
.md-typeset .admonition.note, .md-typeset details.note{
  border: 0.025rem solid #e4ece8;
}
.md-typeset .note>.admonition-title, .md-typeset .note>summary{
  background-color: #95e0c6;/*note的标题栏*/
}
.md-typeset .admonition.info, .md-typeset details.info{
  border: 0.025rem solid #e4ece8;
}
.md-typeset .info>.admonition-title, .md-typeset .info>summary{
  background-color: #95e0c6;/*note的标题栏*/
}
body {
  font-family: "LXGW WenKai", sans-serif;
  /* Lite version */
  /* font-family: "LXGW WenKai Lite", sans-serif; */
  /* TC version */
  /* font-family: "LXGW WenKai TC", sans-serif; */
  /* Screen version */
  /* font-family: "LXGW WenKai Screen", sans-serif; */
}

.extra3{
  display: flex;
  width: 100%;
  font-size: 40px;
  align-items: center;
  justify-self: center
}

.extra3 .heading-1{
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  line-height: 100%;
}
.extra3 .budget{
  position: relative;
  right: 5%;
  top: -10px;
  font-size: 23px;
  transform: rotate(-15deg);
  padding: 10px 20px;
  background-color: #fed11b;
  border-radius: 10px;
  font-weight: bold;
}

[data-md-color-scheme="index_light"] {
    --md-primary-fg-color:        #58a7aa;
    --md-primary-fg-color--light: #17d630;
    --md-primary-fg-color--dark:  #21b5c0b7;

   --md-hue:#f4f7f7;
  /* --md-default-fg-color:hsla(var(--md-hue),75%,95%,1);
  --md-default-fg-color--light:hsla(var(--md-hue),75%,90%,0.62);
  --md-default-fg-color--lighter:hsla(var(--md-hue),75%,90%,0.32);
  --md-default-fg-color--lightest:hsla(var(--md-hue),75%,90%,0.12); */
  /* --md-default-bg-color:hsla(var(--md-hue),15%,21%,1); */
  --md-default-bg-color--light:hsla(var(--md-hue),15%,21%,0.54);
  --md-default-bg-color--lighter:hsla(var(--md-hue),15%,21%,0.26);
  --md-default-bg-color--lightest:hsla(var(--md-hue),15%,21%,0.07); 
  --md-code-fg-color:hsla(var(--md-hue),18%,86%,1);
  --md-code-bg-color:#f1fafa;
  --md-code-hl-color:#58a7aa;
  --md-code-hl-number-color:#e6695b;
  --md-code-hl-special-color:#f06090;
  --md-code-hl-function-color:#c973d9;
  --md-code-hl-constant-color:#9383e2;
  --md-code-hl-keyword-color:#6791e0;
  --md-code-hl-string-color:#2fb170;
  --md-code-hl-name-color:var(--md-code-fg-color);
  --md-code-hl-operator-color:var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color:var(--md-default-fg-color--light);
  --md-code-hl-comment-color:var(--md-default-fg-color--light);
  --md-code-hl-generic-color:var(--md-default-fg-color--light);
  --md-code-hl-variable-color:var(--md-default-fg-color--light);
  --md-typeset-color:hsla(var(--md-hue),75%,95%,1);
  --md-typeset-a-color:var(--md-primary-fg-color);
  --md-typeset-mark-color:#ffb7424d;
  --md-typeset-kbd-color:hsla(var(--md-hue),15%,94%,0.12);
  --md-typeset-kbd-accent-color:hsla(var(--md-hue),15%,94%,0.2);
  --md-typeset-kbd-border-color:hsla(var(--md-hue),15%,14%,1);
  --md-typeset-table-color:hsla(var(--md-hue),75%,95%,0.12);
  --md-typeset-table-color--light:hsla(var(--md-hue),75%,95%,0.035); 

  --md-admonition-fg-color:var(--md-default-fg-color);/*标注的字体色*/
  --md-admonition-bg-color:var(--md-default-bg-color);/*标注的背景色*/
  --md-footer-bg-color:#519D9E;
  --md-footer-bg-color--dark:hsla(var(--md-hue),15%,10%,1);
  --md-shadow-z1:0 0.2rem 0.5rem #0003,0 0 0.05rem #0000001a;
  --md-shadow-z2:0 0.2rem 0.5rem #0000004d,0 0 0.05rem #00000040;
  --md-shadow-z3:0 0.2rem 0.5rem #0006,0 0 0.05rem #00000059;
  /* --md-text-font:hsla(var(--md-hue),75%,90%,0.62); */
  /*--color-btn-primary-text: 右下角  使用 Github 登录 的按钮处，设置字的颜色
  --color-btn-primary-bg : 同上，设置按钮(整体填充)的颜色
  --color-btn-primary-border : 同上，设置按钮边框的颜色
  --color-btn-primary-hover-bg : 设置将鼠标放置在按钮上时，按钮(整体填充)的颜色
  --color-btn-primary-hover-border : 同上，设置按钮边框的颜色
  --color-fg-default : 设置 n 个表情 、 n 条评论 、输入/预览 (选中那个) 的字体颜色
  --color-fg-muted : 设置 n 个表情 下的笑脸 、输入/预览 (没选中那个) 、右上处 Aa 、按钮上方的markdown标志 的颜色
  --color-canvas-default : 设置 输入 和 按钮 所在的中空的(挖去中间输入评论文本的区域)的框的颜色
  --color-canvas-inset : 设置 中间输入评论文本的区域 的颜色
  --color-canvas-subtle : 设置 预览 所在的上方的框的颜色
  --color-border-default : 设置所有勾勒边框的线的颜色
  --color-accent-fg : 设置 将鼠标移动到 markdown标志 或 Aa 处时，以及在评论文本的区域中输入时区域的框，改变的颜色
  --color-btn-primary-selected-bg : 设置登录按钮点击时的颜色
  --color-btn-primary-disabled-text : 设置登录之后，评论按钮的评论两个字的颜色
  --color-btn-primary-disabled-bg : 同上，评论按钮的颜色
  --color-btn-primary-disabled-border : 同上，评论按钮边框的颜色*/
  
}
[data-md-color-scheme="index_night"] {
    --md-primary-fg-color:        #343E45;
    --md-primary-fg-color--light: #A1B5D0;
    --md-primary-fg-color--dark:  #85101a;
    --md-default-bg-color:#A1B5D0;
}
:root {
  --md-text-font: "JetBrains Mono", "LXGW WenKai Screen"; 
  --md-code-font: "JetBrains Mono", "Noto Serif SC";
}
/* jetbrains-mono-latin-wght-normal */
@font-face {
  font-family: 'JetBrains Mono Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/jetbrains-mono:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}